
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0e0d0f;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0d0f; 
  }

  .login-panel {
    grid-column: 2;
    background-color: #0e0d0f;
    border: 2px solid #00897b;
    border-radius: 8px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
  }

  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 1200px; /* Limit maximum width for very wide screens */
    margin: 0 auto; /* Center the content container */
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .login-logo {
    width: 80%; /* Adjust this value to scale the logo as needed */
    max-width: 240px; /* Ensures the logo doesn't get too large */
    height: auto; /* Maintains aspect ratio */
  }
  
  h1 {
    color: #00897b;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00897b;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .login-button, .register-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button {
    background-color: #00897b;
    color: white;
  }
  
  .register-button {
    background-color: #00897b;
    color: white;
  }
  
  .login-button:hover, .register-button:hover {
    opacity: 0.9;
  }

  .error-message-container {
    grid-column: 3;
    align-self: start;
    overflow-y: auto;
    max-height: 400px; /* Adjust as needed */
    max-width: 360px;
  }
  
  .error-message {
    background-color: #ff4444;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    word-wrap: break-word;
    animation: flashAnimation 0.5s ease-in-out;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .content-grid {
      grid-template-columns: 1fr;
    }
  
    .login-panel,
    .error-message-container {
      grid-column: 1;
    }
  
    .error-message-container {
      margin-top: 20px;
    }
  }

  @keyframes flashAnimation {
    0%, 50%, 100% {
      background-color: #ff4444;
    }
    25%, 75% {
      background-color: #ff9797;
    }
  }