.dashboard {
  display: grid;
  grid-template-areas: 
    "header header"
    "main sidebar";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 360px;
  height: 100vh; /* This ensures the dashboard takes up the full viewport height */
  overflow: hidden; /* This prevents any content from overflowing */
}

.header {
  grid-area: header;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 2px solid #07ddaf;
}

.sidebar {
  grid-area: sidebar;
  background-color: #2b2b2b;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  border: 1px solid #07ddaf;
}

.mainContent {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  border: 2px solid #dd07c1;
  border-radius: 5px;
  
}

.priceInfo {
  margin-left: 20px;
  margin-bottom: 10px;

}

.mainContent > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chartWrapper {
  flex: 1;
  position: relative;
  width: 100%;  
  height: 400px;  
}