/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    margin-right: 10px; /* Adds some space on the right */
  }
  
  .button-group {
    display: flex; /* Use flexbox to arrange buttons in a row */
    justify-content: space-between; /* Space out buttons evenly */
    margin-top: 10px; /* Add some space above the button group */
  }
 
  .login-btn, .register-button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00b862;
    color: white;    
    flex: 1; /* Make buttons take equal space */
  }
  
  .login-btn:hover {
    background-color: #008035;
  }
  
  .register-button {
    margin-left: 10px; /* Add some space between the buttons */
    background-color: #00b862; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor on hover */
}

.register-button:hover {
    background-color: #008035; /* Darker green on hover */
}